CS422-Project2/target/
CS422-Project2/.project
CS422-Project2/.settings
CS422-Project2/.classpath
CS422-Project2/project/target
CS422-Project2/.cache-main
CS422-Project2/.cache-tests
CS422-Project2/bin/
CS422-Project2/project/project
.DS_Store
*_big.tbl
*_medium.tbl
*log*
output/
docker/cs422-pr2/jars/cs422-project2_2.11-0.1.0.jar